#mainNav{
    background-color: lavender;
}

#Banner{
    background:linear-gradient(to right,#3ea1cf,#83d2f7);
    height: 700px;
    
}
#Services{
    height: 150px;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}
.Sign_up_btn{
    width: 100PX;
    padding: 10px;
    border: none;
    margin: 10px 0;
    min-height: 25px;
    border-radius: 10px;
    background-color:#0c86be;
    color: white;
    font-size: medium;
    cursor: pointer;   
    border: none;
}
.Login_in_btn{
    width: 100PX;
    padding: 10px;
    border: none;
    margin: 10px 0;
    min-height: 25px;
    border-radius: 10px;
    background-color:#0c86be;
    color: white;
    font-size: medium;
    cursor: pointer;   
    border: none;}
    
.Sign_up_btn:hover{
    background-color: #31a5db;
    color: white;
  }
.Login_in_btn:hover{
    background-color: #31a5db;
    color: white;
  }
.Login_in_btn1{
    border: none;
    display:inline;
}
.Sign_up_btn1{
    border: none;
    display:inline;
}
.call_to_action{
    border: none;
    padding:10px;
    width: 200px;
    border-radius:10px;
    border-radius: 10px; background-color:#0c86be; color: white;
    font-size: 20px; cursor: pointer;}
.call_to_action:hover{
        cursor: pointer;
         background-color: #31a5db;
         transition: 0.7s;
      }
.call_to_action:focus{
         outline-color: transparent;
         outline-style: 5px solid;
         box-shadow: 0 0 0 4px #0d445d;
         transition: 0.7s;
      }
.card-img-top{
    margin: 0px;
    padding: 0px;
}
.list-unstylted{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    text-size-adjust: 100px;
    font-size:large;
}
.time_table,tr,td{
    border: 1px solid black;
    padding:10px;
}
#noti{
    width: 100PX;
    padding: 10px;
    border: none;
    margin: 10px 0;
    min-height: 25px;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;   
    border: none;
}
.btn{
    width: 150PX;
    padding: 10px;
    border: none;
    margin: 10px 0;
    min-height: 25px;
    border-radius: 10px;
    background-color:#0c86be;
    color: white;
    font-size: medium;
    cursor: pointer;   
    border: none;
}
.btn:hover{
    background-color: #31a5db;
    color: white;
}