

h1 {
    margin: 70px auto;
    text-align: center;
  }
  fieldset{
   border: none;
   padding: 2rem o;
   border-bottom:3px solid #83d2f7;
   
  }
  label{
   display:block;
   margin: 15px 0;
   color: black;
  }
  
  input{ 
   width: 100%;
   border: none;
   margin: 5px 0;
   min-height: 25px;
   border-bottom:3px solid rgb(214, 208, 208);
   background-color: white;
  }
  select{
   width: 100%;
   margin: 5px 0;
   min-height: 25px;
  }
  fieldset:last-of-type{
   border: none;
  }
  a>img{
  padding-left:110px;
   width:40px;
   margin-left:20px;
   padding-bottom: 10px;
   padding-top: 5px;
   
  }
  placeholder{
   color: rgb(61, 55, 55);
  }
  fieldset>p{
   text-align: center;
  }
  
  h3{
   text-align: center;
  }
  
  .login_btn{
   width: 100%;
   padding: 10px;
   border: none;
   margin: 10px 0;
   min-height: 25px;
   border-radius: 10px;
   background-color:#0c86be;
   color: white;
   font-size: medium;
   cursor: pointer;
  }
  .login_btn:hover{
   background-color: #31a5db;
  }
  